body{
  color: #293731;
  font-family: Verdana;
  text-align: center;
}

h1{
  font-size: 100px;
}

h2{
  font-size: 60px;
}

.header{
  padding: 180px 0 100px 0;
  background-image: url(header.jpeg);
  background-size: cover;
}

img[src$="png"] {
  width: 150px;
  height: 150px;
}

li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 50px 50px;
  
}

.contents {
  height: 1000px;
  margin-top: 100px;
}

.contents-item {
  float: left;
}

.contents-item p {
  margin-top: 20px;
}

.contents-item img {
  width: 300px;
  height: 200px;
  margin-right: 10px;
  transition-duration: 0.3s;
}

.contents-item:hover img {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.footer{
  height: 300px;
  padding: 40px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #dee7ec;
}